In [7]:
import pandas as pd
df=pd.read_csv('C:/Users/Yerassyl/Desktop/data mining/shanghai_ranking_2024.csv')
print(df.head())
print(df.tail())
print(df.info())
print(df.isnull())
print(df.dtypes)

  Rank                              University_Name National/Regional Rank  \
0    1                           Harvard University                      1
1    2                          Stanford University                      2
2    3  Massachusetts Institute of Technology (MIT)                      3
3    4                      University of Cambridge                      1
4    5           University of California, Berkeley                      4

   Alumni  Award   Hici    N&S    PUB   PCP
0   100.0   97.1  100.0  100.0  100.0  85.7
1    45.3   88.1   73.1   83.9   73.1  59.6
2    71.9   82.8   55.2   70.8   59.1  73.6
3    78.2   90.8   45.1   59.8   67.2  60.6
4    65.3   76.5   46.9   62.8   57.1  55.5
         Rank                    University_Name National/Regional Rank  \
995  901-1000           Universidad Andr√©s Bello                      4
996  901-1000               University of Lahore                    3-5
997  901-1000                Linnaeus University                     13
998  901-1000            University of Wuppertal                  49-51
999  901-1000  Abdul Wali Khan University Mardan                    3-5

     Alumni  Award  Hici  N&S   PUB   PCP
995     0.0    0.0   6.5  4.0  21.1   9.5
996     0.0    0.0   0.0  1.4  27.5  11.7
997     0.0    0.0   6.5  3.5  19.0  13.3
998     0.0    0.0   0.0  6.9  19.3  19.4
999     0.0    0.0   6.5  3.8  20.9   9.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    1000 non-null   object
 1   University_Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Alumni                  1000 non-null   float64
 4   Award                   1000 non-null   float64
 5   Hici                    1000 non-null   float64
 6   N&S                     989 non-null    float64
 7   PUB                     1000 non-null   float64
 8   PCP                     1000 non-null   float64
dtypes: float64(6), object(3)
memory usage: 70.4+ KB
None
      Rank  University_Name  National/Regional Rank  Alumni  Award   Hici  \
0    False            False                   False   False  False  False
1    False            False                   False   False  False  False
2    False            False                   False   False  False  False
3    False            False                   False   False  False  False
4    False            False                   False   False  False  False
..     ...              ...                     ...     ...    ...    ...
995  False            False                   False   False  False  False
996  False            False                   False   False  False  False
997  False            False                   False   False  False  False
998  False            False                   False   False  False  False
999  False            False                   False   False  False  False

       N&S    PUB    PCP
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
995  False  False  False
996  False  False  False
997  False  False  False
998  False  False  False
999  False  False  False

[1000 rows x 9 columns]
Rank                       object
University_Name            object
National/Regional Rank     object
Alumni                    float64
Award                     float64
Hici                      float64
N&S                       float64
PUB                       float64
PCP                       float64
dtype: object