In [32]:
import pandas as pd
df=pd.read_csv('C:/Users/Yerassyl/Desktop/data mining/shanghai_ranking_2024.csv')
print(df.isnull().sum())
df_drop=df.dropna()
df_fill=df.fillna(1)
print(df_fill)
df_ffill = df.ffill()  
print(df_ffill)
df_bfill = df.bfill()  
print(df_bfill)

Rank                       0
University_Name            0
National/Regional Rank     0
Alumni                     0
Award                      0
Hici                       0
N&S                       11
PUB                        0
PCP                        0
dtype: int64
         Rank                              University_Name  \
0           1                           Harvard University
1           2                          Stanford University
2           3  Massachusetts Institute of Technology (MIT)
3           4                      University of Cambridge
4           5           University of California, Berkeley
..        ...                                          ...
995  901-1000                     Universidad Andrés Bello
996  901-1000                         University of Lahore
997  901-1000                          Linnaeus University
998  901-1000                      University of Wuppertal
999  901-1000            Abdul Wali Khan University Mardan

    National/Regional Rank  Alumni  Award   Hici    N&S    PUB   PCP
0                        1   100.0   97.1  100.0  100.0  100.0  85.7
1                        2    45.3   88.1   73.1   83.9   73.1  59.6
2                        3    71.9   82.8   55.2   70.8   59.1  73.6
3                        1    78.2   90.8   45.1   59.8   67.2  60.6
4                        4    65.3   76.5   46.9   62.8   57.1  55.5
..                     ...     ...    ...    ...    ...    ...   ...
995                      4     0.0    0.0    6.5    4.0   21.1   9.5
996                    3-5     0.0    0.0    0.0    1.4   27.5  11.7
997                     13     0.0    0.0    6.5    3.5   19.0  13.3
998                  49-51     0.0    0.0    0.0    6.9   19.3  19.4
999                    3-5     0.0    0.0    6.5    3.8   20.9   9.4

[1000 rows x 9 columns]
         Rank                              University_Name  \
0           1                           Harvard University
1           2                          Stanford University
2           3  Massachusetts Institute of Technology (MIT)
3           4                      University of Cambridge
4           5           University of California, Berkeley
..        ...                                          ...
995  901-1000                     Universidad Andrés Bello
996  901-1000                         University of Lahore
997  901-1000                          Linnaeus University
998  901-1000                      University of Wuppertal
999  901-1000            Abdul Wali Khan University Mardan

    National/Regional Rank  Alumni  Award   Hici    N&S    PUB   PCP
0                        1   100.0   97.1  100.0  100.0  100.0  85.7
1                        2    45.3   88.1   73.1   83.9   73.1  59.6
2                        3    71.9   82.8   55.2   70.8   59.1  73.6
3                        1    78.2   90.8   45.1   59.8   67.2  60.6
4                        4    65.3   76.5   46.9   62.8   57.1  55.5
..                     ...     ...    ...    ...    ...    ...   ...
995                      4     0.0    0.0    6.5    4.0   21.1   9.5
996                    3-5     0.0    0.0    0.0    1.4   27.5  11.7
997                     13     0.0    0.0    6.5    3.5   19.0  13.3
998                  49-51     0.0    0.0    0.0    6.9   19.3  19.4
999                    3-5     0.0    0.0    6.5    3.8   20.9   9.4

[1000 rows x 9 columns]
         Rank                              University_Name  \
0           1                           Harvard University
1           2                          Stanford University
2           3  Massachusetts Institute of Technology (MIT)
3           4                      University of Cambridge
4           5           University of California, Berkeley
..        ...                                          ...
995  901-1000                     Universidad Andrés Bello
996  901-1000                         University of Lahore
997  901-1000                          Linnaeus University
998  901-1000                      University of Wuppertal
999  901-1000            Abdul Wali Khan University Mardan

    National/Regional Rank  Alumni  Award   Hici    N&S    PUB   PCP
0                        1   100.0   97.1  100.0  100.0  100.0  85.7
1                        2    45.3   88.1   73.1   83.9   73.1  59.6
2                        3    71.9   82.8   55.2   70.8   59.1  73.6
3                        1    78.2   90.8   45.1   59.8   67.2  60.6
4                        4    65.3   76.5   46.9   62.8   57.1  55.5
..                     ...     ...    ...    ...    ...    ...   ...
995                      4     0.0    0.0    6.5    4.0   21.1   9.5
996                    3-5     0.0    0.0    0.0    1.4   27.5  11.7
997                     13     0.0    0.0    6.5    3.5   19.0  13.3
998                  49-51     0.0    0.0    0.0    6.9   19.3  19.4
999                    3-5     0.0    0.0    6.5    3.8   20.9   9.4

[1000 rows x 9 columns]